<a href="https://colab.research.google.com/github/Elsamariatomlin/elsa/blob/main/elsapython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import numpy as np
a =np.random.rand()
print(a)
b=np.random.rand(3)
print(b)
arr =np.array([1,2,4,3])
print(np.mean(arr))
print(np.median(arr))
print(np.std(arr))
x=np.random.randint(1,10)
print(x)
y=np.random.randint(0,100,size=5)
print(y)
z=np.random.randint(10,100,size=(3,3))
print(z)
otp = np.random.randint(100000, 1000000, size=5)
print( otp)
otp4 = np.random.randint(1000, 10000)
print(otp4)

0.2752081335792903
[0.95726501 0.59038408 0.22038164]
2.5
2.5
1.118033988749895
3
[95 95 71 95 99]
[[53 90 69]
 [46 35 26]
 [29 84 25]]
[487226 104590 208669 686661 196428]
4056

In [40]:
import pandas as pd
s=pd.Series([10,20,30,40])
print(s)
#series
#Dataframe
data={"name":["alice",'bob'],"age":[25,20]}
df=pd.DataFrame(data)
print(df)

0    10
1    20
2    30
3    40
dtype: int64
    name  age
0  alice   25
1    bob   20

In [41]:
import pandas as pd
#df.head
data1={
    "name":['najah',"elsa","bhadra","david","rusu"],
    "score":[85,96,86,75,96]
}
df=pd.DataFrame(data1)
print(df.head())
print(df.head(3))

     name  score
0   najah     85
1    elsa     96
2  bhadra     86
3   david     75
4    rusu     96
     name  score
0   najah     85
1    elsa     96
2  bhadra     86

In [42]:
#d.tail
import pandas as pd

data1={
    "name":['najah',"elsa","bhadra","david","rusu"],
    "score":[85,96,86,75,96]
}
df=pd.DataFrame(data1)
print(df.tail())
print(df.tail(3))

     name  score
0   najah     85
1    elsa     96
2  bhadra     86
3   david     75
4    rusu     96
     name  score
2  bhadra     86
3   david     75
4    rusu     96

In [44]:
import pandas as pd

data1={
    "name":['najah',"elsa","bhadra","david","rusu"],
    "score":[85,96,86,75,96],
    "grade":['a','b','c','d','e']
}
df=pd.DataFrame(data1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   score   5 non-null      int64
 2   grade   5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes